* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 16px;
	font-family: "Fira Code", "JetBrains Mono", Menlo, monospace;
}

body {
	height: 100%;
	background-color: #21222c;
	color: #e0e0e0;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: 100dvh;
}

.main-container {
	flex: 1;
	margin: 40px 12%;
}
